<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: header">
    <meta charset="UTF-8"/>
    <title>Sign up</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1>Create an account</h1>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
            <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each
                required form group has a validation state that can be triggered by attempting to submit the form
                without completing it.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/signup}" method="POST" th:object="${user}"
                  id="signUpForm">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                           th:field="*{email}">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           th:field="*{password}">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">
                    <label for="confirmPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" onclick="event.preventDefault(); handleSignUpForm()">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>
<script th:replace="partials :: scripts"></script>
<script>

    function formErrorMessage (errorMessage, form) {
        const newDiv = document.createElement("div");
        const error = document.createTextNode(errorMessage)
        newDiv.classList.add("text-danger")
        newDiv.append(error);
        form.insertBefore(newDiv, form.children[1])
    }
    let handleSignUpForm = () => {
        const password = document.querySelector("#password").value;
        const confirmPassword = document.querySelector("#confirmPassword").value;
        const form = document.querySelector("#signUpForm");

        if (password !== confirmPassword) {
            formErrorMessage("Your Passwords don't Match", form);
        } else if (password === "" || confirmPassword === "") {
            formErrorMessage("Your Passwords cannot be blank", form)
        } else if (password === null) {
            formErrorMessage("Regex will go here", form)
        }
        else {
            form.submit();
        }
    }
</script>
</body>
</html>